<div class="container">
    <!-- CABECERA DE LA PAGINA -->
    <header>
        <button mat-icon-button color="primary" (click)="ActionByMenu()">
            <mat-icon>menu</mat-icon>
        </button>
    </header>

    <!-- MENU DE LA PAGINA -->
    <nav class="menu" #menu>

        <mat-list>

            <mat-list-item> 
                <a routerLink="" class="buton-nav aLink content-title">
                    <mat-icon class="item-icon">home</mat-icon> HOME 
                </a>
            </mat-list-item>

            <mat-list-item class=> 
                <a routerLink="busarMascota" class="buton-nav aLink content-title"> 
                    <mat-icon class="item-icon">pets</mat-icon> BUSCAR MASCOTA 
                </a>
            </mat-list-item>

            <mat-list-item> 
                <a routerLink="historialClinico" class="buton-nav aLink content-title">
                    <mat-icon class="item-icon">pending_actions</mat-icon> HISTORIAL CLINICO
                </a>
            </mat-list-item>

        </mat-list>
 
    </nav>
      
    <!-- CUERPO DE LA PAGINA -->
    <main #main>
        <div>
            <router-outlet></router-outlet>
        </div>
    </main>

    <app-login *ngIf="login" class="login" (usuarioCorrecto)="usuarioCorrecto()"></app-login>
</div>