<div class="container">
    <!-- CABECERA DE LA PAGINA -->
    <header>
        <button mat-icon-button color="primary" (click)="ActionByMenu()">
            <mat-icon>menu</mat-icon>
        </button>
    </header>

    <!-- MENU DE LA PAGINA -->
    <!-- [ngClass]="{'open-menu' : openMenu}" -->
    <nav class="menu" #menu>
        <div>
            <p>Hola Mundo</p>
        </div>
    </nav>
      
    <!-- CUERPO DE LA PAGINA -->
    <main #main>
        <router-outlet></router-outlet>
    </main>


   <!-- <app-login *ngIf="login" class="login"></app-login> -->
</div>