<div class="container">
    <!-- CABECERA DE LA PAGINA -->
    <header>

    </header>

    <!-- MENU DE LA PAGINA -->
    <nav>
        <a routerLink="" class="buton-nav"> HOME </a>
        <a routerLink="busarMascota" class="buton-nav"> BUSCAR MASCOTA </a>
        <!-- #endregion 
        <button mat-button class="buton-nav" (click)="abrirBuscarMascota()">BUSCAR MASCOTA</button>
        <button mat-button class="buton-nav" (click)="abrirIngresarHistorialClinico()">INGRESAR HITORIAL CLINICO</button>
        -->
    </nav>

    <!-- CUERPO DE LA PAGINA -->
    <main>
        <router-outlet></router-outlet>
    </main>

    <!--
    <app-login class="login"></app-login>
    -->
</div>