.buscador {
  display: grid;
  grid-template-columns: 30% 70%;
}

.example-container {
  height: calc(100vh - 237px);
  overflow: auto;
}

table {
  width: 100%;
}

.container-table {
  /*outline: 1px solid rgba(0, 0, 0, 0.4);*/
  border-radius: .5rem;
  overflow: hidden;
  background-color: #FFF;
}


tr.mdc-data-table__header-row {
  height: 34px!important;
}

tr.mdc-data-table__row{
  height: 34px!important;
}