/*-----------------*/
/*
box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
*/
/*-----------------*/
.c-blue {
    color: #039BE5;
    font-weight: 400;
    font-size: 1rem;
    margin: 8px 0;
    text-decoration:none;
}

/*---------------------*/
/*---------------------*/
/*---------------------*/
.container{
    display: flex;
    flex-direction: column;
    background-color: white;
    /* box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%); */
    border-radius: 0.5rem;
    padding: 40px;
    width: 100%;
    max-width: 393px;
    height: 100%;
    max-height: 410px;
    outline: 1px solid #dadce0;
}

.main {
    background-color: white;
}

.logo{
    font-size: 23px;
    text-align: center;
    color: #039BE5;

    margin-top: 1rem;
    margin-bottom: 1rem;
}

.title{
    font-size: 24px;
    text-align: center;
    margin-bottom: 8px;
}

.text {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 32px;
}


.button-login {
    height: 54px;
    font-size: 20px;
}
