.container{
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 1rem;
}

.content-filtro{
    display: grid;
}

.content-historial{
    padding: 1rem;
    background-color: #F0F4FA;/*#f6f6f6;*/    
    outline: 3px solid #F0F4FA;
    border-radius: 8px;
    /*height: 240%;*/
}

/*autocomplete*/
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

/*accordion*/
.mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
}

/*chips*/
.example-box.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
 }
  
.example-chip .cdk-drop-list-dragging {
transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/*chips*/  
mat-chip {
    max-width: 200px;
}

.content-accordion{    
    padding-top: 1.5rem;
    height: calc(100vh - 300px);
    overflow: auto;
}

.content-mat-accordion{    
    padding-top: 1rem;
}

.content-title{
    display: flex;
    justify-content: center;
    font-weight: bolder;
    padding: 16px;
}

.content1{
    display: flex;
}