.container{    
    padding: 5rem;
}

.content-form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin: 1rem;
}

.content{
    display: flex;
    flex-direction: column;
    outline: 1px solid #d0d0d0a6;
    border-radius: 0.5rem;
    padding: 2rem 2rem 1rem 2rem;    
    height: fit-content;
}

.content2{
    outline: 1px solid #d0d0d0a6;
    border-radius: 0.5rem;
    padding: 1rem; 
}

.content3{
    justify-self: start;    
}

.content-button{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.button-registrarse {
    /*height: 54px;*/
    font-size: 20px;
    width: 30%;
}

.content-span{
    margin-bottom: 1rem;
    background-color: #FCFBFE;
    padding: 0.5rem;
    
}

.content-div-span{    
    position: absolute;
    margin-top: -50px;
    display: flex;
    align-self: center;
}
