<div class="container" [formGroup]="formGroup">

    <div class="content-form">
        <div class="content">
            <div class="content-div-span">
                <span class="content-span"> DATOS: </span>  
            </div>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>RUC</mat-label>
                <input matInput placeholder="" value="" formControlName="ruc">
             </mat-form-field>
      
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Razon Social</mat-label>
                <input matInput placeholder="" value="" formControlName="razonSocial">
            </mat-form-field>
    
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="" value="" formControlName="email">
             </mat-form-field>
      
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Celular</mat-label>
                <input matInput placeholder="" value="" formControlName="celular">
            </mat-form-field>        
        </div>
    
        <div class="content">         
            <div class="content-div-span">  
                <span class="content-span"> UBICACIÓN: </span>  
            </div> 
            <mat-form-field appearance="outline">
                <mat-label>Departamento</mat-label>
                <mat-select formControlName="departamento">
                <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Provincia</mat-label>
                <mat-select formControlName="provincia">
                    <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Distrito</mat-label>
                <mat-select formControlName="distrito">
                    <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Direccion</mat-label>
                <input matInput placeholder="" value="" formControlName="direccion">
            </mat-form-field>
    
        </div>
    
        <div class="content">
            <div class="content-div-span">
                <span class="content-span"> USUARIO:</span>
            </div>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Usuario</mat-label>
                <input matInput placeholder="" value="" formControlName="usuario">
            </mat-form-field>   
    
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input matInput placeholder="" value="" formControlName="contraseña">
            </mat-form-field>   
            
        </div>
    </div>

    <div class="content-button">
        <button mat-flat-button class="button-registrarse" color="primary" 
                [disabled]="!formGroup.valid" (click)="registrarse()"> 
            <!-- <mat-icon class="material-icons-outlined">login</mat-icon> -->
            Registrarse
        </button>
    </div>    

</div>
